@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    overflow: hidden;
    background: #1a1a1d;
}

header{
    position: relative;
    width: 100%;
    height: 60px;
    background: rgb(8, 9, 19);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 4%;
}

.brand .fa-film{
    font-size: 25px;
}

.brand h1{
    margin-left: 5%;
}

.navbar{
    position: relative;
    display: flex;
    width: 70%;
    height: 100%;
    padding: 5%;
    align-items: center;
    justify-content: right;
}



.navbar ul{
    width: 60%;
    text-align: center;
}

.navbar ul li{
    display: inline-block;
    margin-left: 4%;
    padding: 1%;
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
    height: 22px;
    overflow: hidden;
}

.navbar ul li:hover{
    height: 50px;
}

.navbar ul li #headIcon{
    display: block;
    font-size: 18px;
}

.navbar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:active, :focus{
    text-decoration: underline;
    font-weight: 700;
}

#menuIcon{
    display: none;
}


/*----------------------Footer------------------*/

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgb(8, 9, 19);
    color: #fff;
    padding: 0.5em;
}

.foot h3{
    font-size: 1em;
}

.social a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.5em;
}