.middle{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #379683;
    flex-direction: column;
}

.short{
    display: grid;
    min-height: 100vh;
    width: 1200px;
    color: #fff;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 1.25em;
    padding: 1.5em;
    font-size: 0.8em;
    color: #edf5e1;
}

.card{
    height: 30em;
    width: 20em;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    background: #950740;
}

.card .front,.card .back{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.card .front{
    transform: rotateY(0deg);
}

.card .back{
    transform: rotateY(180deg);
}

.card .front img{
    max-width: 100%; 
    border-radius: 15px;
}

.card .back .details{
    max-width: 100%;
    padding: 1em;
    border-radius: 15px;
}

.card .back .details h2{
    font-size: 1.3em;
}

.card .back .details h3{
    font-size: 0.8em;
}

.card .back .details .rating{
    position: relative;
    padding: 0.313em 0;
    font-size: 0.9;
}

.card .back .details .rating .fa-star{
    color: #f7f406;
    font-size: 1em;
}


.card .back .details .tags{
    position: relative;
    margin-top: 0.313em;
}

.card .back .details .tags span{
    font-size: 0.75em;
    padding: 0.125em 0.313em;
    border-radius: 0.25em;
    text-transform: capitalize;
}

/* ------------- tag colors based on movie genres ------------------------ */

.infantil{background: #91c12f;} .documentário{background: #63bc5a;} .romântica{background: #ec8fe6;} .suspense{background: #919aa2;} .ficção{background: #0b6dc3;} .romance{background: #fa7179;} .espionagem{background: #5269ad;} .faroeste{background: #d97845;} .policial{background: #5a8ea2;} .ação{background: #ff9d55;} .aventura{background: #89aae3;} .musical{background: #73cec0;} .comédia{background: #f4d23c;} .guerra{background: #c5b78c;} .terror{background: #5a5465;} .drama{background: #5090d6;} .dança{background: #ce416b;} .fantasia{background: #b567ce;}

/* -------------------------- End tag colors -------------------------- */

.card .back .details .sinopse{
    margin-top: 0.625em;
}

.card .back .details .sinopse p{
    font-size: 0.65em;
}

.card .back .details .ageAndTime p{
    font-size: 0.7em;
}

.card .back .details .streaming{
    position: relative;
}

.card .back .details .streaming h4{
    margin-top: 0.625em;
}

.card .back .details .streaming ul{
    position: relative;
    display: flex;
    gap: 0.625em;
    margin-top: 0.625em;
}

.card .back .details .streaming ul li{
    list-style: none;
    width: 2.1em;
    height: 2.1em;
    overflow: hidden;
    border-radius: 10px;
}

.card .back .details .streaming ul li img{
    max-width: 100%;
}

.card:hover .front{
    transform: rotateY(-180deg);
}

.card:hover{
    width: 22em;
    height: 32em;
    transform:  scale(1.2);
    transition: 0.5s;
    z-index: 1;
}

.card:hover .back{
    transform: rotateY(0deg);
}




/*Pagination*/


.pagination button{
    background-color: #6c79db;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 0.5em 0.5em;
    font-size: 1em;
    margin: 0.25em 0.25em;
    cursor: pointer;
}

@media screen and (max-width: 460px){
    .short{
        flex-direction: column;
        font-size: 0.5em;
        margin: auto 0;
        z-index: 1;
    }

    .card .back .details .sinopse p{
        font-size: 0.5em;
    }
}