@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#007bb2, #0d1423);
    font-size: 1em;
    color: #fff;
}

.short{
    position: relative;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    grid-gap: 1.25em;
    padding: 20px;
}

.container{
    height: 400px;
    width: 220px;
    position: relative;
    perspective: 1000px;
}

.front, .back{
    position: absolute;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.front{
    transform: rotateY(0deg);
}

.back{
    transform: rotateY(180deg);
}

.container:hover .front{
    transform: rotateY(-180deg);
}

.container:hover .back{
    transform: rotateY(0deg);
}