@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}



header{
    position: relative;
    width: 100%;
    height: 60px;
    background: #05386b;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand{
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    padding: 4%;
}

.brand .fa-film{
    font-size: 25px;
}

.brand h1{
    margin-left: 5%;
}

.navbar{
    position: relative;
    display: flex;
    width: 70%;
    height: 100%;
    padding: 5%;
    align-items: center;
    justify-content: space-between;
}

#searchBox{
    position: relative;
    width: 40%;
}

#searchBox input{
    width: 80%;
    height: 35px;
    border: none;
    border-radius: 8px;
    text-indent: 10px;
    font-size: 16px;
}

#searchIcon{
    position: relative;
    left: -30px;
    font-size: 18px;
    color: rgb(77, 77, 77);
    z-index: 221;
    cursor: pointer;
}

.navbar ul{
    width: 60%;
    text-align: center;
}

.navbar ul li{
    display: inline-block;
    margin-left: 4%;
    padding: 1%;
    transition: all 0.5s ease;
    text-align: center;
    cursor: pointer;
    height: 22px;
    overflow: hidden;
}

.navbar ul li:hover{
    height: 50px;
}

.navbar ul li #headIcon{
    display: block;
    font-size: 18px;
}

.navbar ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.navbar ul li a:active, :focus{
    text-decoration: underline;
    font-weight: 700;
}

#menuIcon{
    display: none;
}

.movies{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #379683;
    color: #fff;
    font-size: 1.2em;
    padding: 0.5em;
}

/*----------------------Footer------------------*/

.foot{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #05386b;
    color: #fff;
    padding: 0.5em;
}

.foot h3{
    font-size: 1em;
}

.social a{
    text-decoration: none;
    color: #fff;
    font-size: 1.5em;
    letter-spacing: 0.5em;
}

@media (max-width: 768px){

    #searchBox{
        position: relative;
        width: 100%;
        top: 60px;
        z-index: 221;
        left: 5%;
    }

    #menuIcon{
        display: inline;
        position: fixed;
        margin-left: 88%;
        font-size: 25px;
        padding: 1%;
        border-radius: 4px;
        cursor: pointer;
        border: 1px solid rgb(221, 221, 221);
        z-index: 222;
    }

    .navbar.navactive{
        display: inline;
    }

    .navbar{
        position: relative;
        display: block;
        width: 60%;
        display: none;
    }

    .navbar ul{
        position: absolute;
        width: 100%;
        height: 100vh;
        background-color: rgb(8, 9, 19);
    }

    .navbar ul li{
        display: block;
        margin-top: 20px;
        width: 100%;
        height: 40px;
        text-align: left;
        position: relative;
        top: 50px;
        padding: 2%;
    }

    .navbar ul li:hover{
        background: rgb(31, 31, 31);
    }

    .navbar ul li #headIcon{
        display: inline-block;
        font-size: 30px;
    }

    .navbar ul li a{
        margin-left: 35px;
        font-family: 600;
    }
};